body {
  font-family: "Noto Sans", sans-serif;
  margin: 10px 10px 10px 10px;
}
h1 {
  font-size: 50px;
}
section {
  margin: 60px 0;
}
.blue-color {
  color: blue;
}
.olik_good {
  display: flex;
  width: 80%;
}
.top-banner {
  background-image: url(images/shapes/Frame58.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
img {
  height: 450px;
  width: 450px;
}
.half-width {
  width: 45%;
  float: left;
}
#good {
  padding: 10px;
  background-color: rgb(24, 28, 90);
  border-radius: 20px 20px 20px 20px;
  border: none;
}
.link-button {
  margin-top: 20px;
  background-image: linear-gradient(orange, tomato);
  padding: 15px 40px;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 5px 5px 15px grey;
  display: inline-block;
}
